body {
  margin: 0;
}

header{
    
    width: 100%;
    height: 15vh;
    background-color: white;
    position:fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -1%;

}

.icon{
    
    margin-top: 10px;
    width: 200px;
    height: 90px;
    margin-left: 35px;

}
.navbar{
    margin-top: 20px;
}
a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 25px;
    font-weight:500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}

a:hover{

    color: rgb(218, 146, 14);
}

.contact{

    background-color: red;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    width: 180px;
    
}

a.contact:hover{
    color: white;
    background-color: rgb(241, 109, 109);
}

.image1{

    background-image: url(Images/celest-mbanner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 780px;   
    
}

.head{

    margin-left: 150PX;  
    margin-top: 220px;  

}

.head h1{
    
    
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-bottom: 0px;

}

.head h2, h3{

    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
}

.btn-down{

    background-color: red;
    width: 220px;
    height: 45px;
    border-radius: 8px;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.btn-down:hover{

    background-color: rgb(238, 112, 112);
    
}

.apt1{

    width: 500px;
    border: 1px solid rgb(235, 230, 230);
    padding:30px;
    margin-left: 80px;
}

.page2{

    margin-top: 50px;
    
}

.text h1{

    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-right: 250px;
    margin-top: 40px;

}

.list1 li{

    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image2{

    background-image: url(Images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 50px;
    padding: 0px;
    height: 750px;   
    
}

.head1 h1{
    
    
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-top: 120px;
    margin-left:200px;

}

.list2 li{

    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0px;
    list-style-type:disc;
    margin-left:180px;
    margin-right: 600px;
}

.page3{

    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
    justify-content:center;
    grid-template-rows: 230px;
    margin-top: 20px;
    column-gap: 15px;
    margin-left: 130px;
}

.page3 div{

    text-align: center;
    color:rgb(223, 130, 43); ;
    font-size:20px;
    text-emphasis-color: black;
    padding: 30px;
    border-right: 1px solid bisque;
}

.page3 div:hover{

    background-color:rgb(5, 5, 88);
}

hr{
    border: none;
  border-top: 2px solid beige;
}

.page4{

    margin-top: 50px;
    
}

.apt2{

    width: 530px;
    /*border: 1px solid rgb(235, 230, 230);*/
    padding:20px;
    margin-right: 150px;
    
}


.text2 h1{

    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-left: 140px;
    margin-top: 70px;

}

.list3 li{

    font-size: 15.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 150px;
    margin-right: 100px;
}

.btn-enq{

    background-color: red;
    width: 150px;
    height: 45px;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-color: red;
    margin-left: 150px;
    border-radius: 8px;
}


.text2 h2{

    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-left: 140px;
    margin-top: 0px; 
}

.image3{

    background-image: url(Images/bannercelest3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 75%;
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 60px;
    padding: 0px;
    height: 750px;
    margin-bottom: 50px;   
    
}

.btn-down2{

    background-color: red;
    width: 220px;
    height: 45px;
    border-radius: 8px;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
    color: white;
    margin-left: 185px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.head2 h1{
    
    
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-top: 130px;
    margin-left:190px;

}

.head2 p{

    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:190px;
    color: aliceblue;
    margin-bottom: 0px;
}

.image4{

    background-image: url(Images/bannercelest4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -350px;
    padding: 0px;
    height: 750px;   
    
}

.head3 h1{
    
    
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 130, 43);
    margin-top: 100px;
    margin-left: 170px;

}

.head3 table, th, td{
    border-collapse: collapse;
    border: 2px solid white;
    color: white;
    padding: 20px;
    padding-inline: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page6{

    margin-top: -150px;

}

.page6 h1{

    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;

}

.page6 h3{

    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.icons1{

    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    justify-content:center;
    margin-top: 20px;
    column-gap: 70px;
    /*margin-left: 105px;*/
    text-align: center;
    color:rgb(6, 73, 140);
    
}

.icons2{

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content:center;
    margin-top: 20px;
    column-gap: 70px;
    /*margin-left: 200px;*/
    text-align: center;
    color:rgb(6, 73, 140);
    
}

.page7{

    margin-top: 15px

}

.page7 h3{

    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.icons3{

    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    justify-content:center;
    margin-top: 20px;
    column-gap: 70px;
    text-align: center;
    color:rgb(6, 73, 140);
    
}

.icons4{

    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    justify-content:center;
    margin-top: 20px;
    column-gap: 70px;
    text-align: center;
    color:rgb(6, 73, 140);
    
}

.icons5{

    display: grid;
    grid-template-columns: 150px 150px ;
    justify-content: center;
    margin-top: 20px;
    column-gap: 380px;
    text-align: center;
    color:rgb(6, 73, 140);
    
}

.page8 h3{

    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.page9 h1{

    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(223, 130, 43); 

}

.list4{

    display: flex;
    justify-content: center;
    gap: 100px;
}

.list4 ul{

list-style-type: none;
font-size: 18px;

}

.list4 li{

background-color: rgb(241, 241, 241);
margin: 15px;
padding: 8px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 40px;
padding-right: 20px;
border: 1px solid rgb(228, 226, 226);
color:rgb(223, 130, 43); 
display: flex; justify-content:space-between;

}

.pluspad1{

    padding-left: 180px;

}
.pluspad2{

    padding-left: 80px;

}

.pad1{

    padding-right: 30px;
}

.page10{

    background-image: url(Images/bannercelest5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-bottom: 50px;
    margin-top: 35px;

}

.page10 h1{

    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(223, 130, 43); 

}

.list6{

    display: flex;
    justify-content:space-evenly;
}

.list6 li{

    list-style: none;
    border: 1px solid white;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 12px;
    color:white;
    padding-right: 70px;
}

.page11{

    width:100%;
    height: auto;
    display: block;
    overflow: hidden;

}

.page11 iframe{

    width:100%;
    top: 0;
    left: 0;
    
}

.page12{
    text-align: center;
}

.page12 h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(223, 130, 43); 

}
.page12 p{

    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.last{
   
    background-color: rgba(17, 17, 17, 0.92) ;
    height: 600px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.last form{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 350px;
}

.inp{

    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 5px;
    width: 100%;

    
}

.btnsubmit{

    background-color: red;
    width: 100px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-color: red;
    border-radius: 8px;
}


